.card {
  height: 450px;
  border: 5px solid brown;
  border-radius: 20px;
  box-sizing: 5px 5px 5px black;
  box-shadow: 5px 5px 5px lightgray;
}
.btn{
  border-radius: 10px;
}
pagination-controls{
  text-align: center !important;
}
.input{
  margin: 20px 10px !important;
}
.input input{
  margin: 0px 10px;
}