header .row{
    margin-top: 10px;
    margin-left: 10px;
}
header .card{
    margin-top: 20px;
}
header .card-body img{
    margin-left: 50px;
}
header .theme{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
header .list-group a{
    text-decoration: none;
    color: #000;
}
header .col-sm {
    margin-right: 20px;
}
header .card-header a{
    text-decoration: none;
}
header .icon i{
    font-size: 25px;
    margin: 10px;
    position: relative;
    left: 25%;
    bottom: 370px;
}
header .content input{
    margin: 0px 10px;
}
footer{
    width: 100%;
    height: 500px;
    position: relative;
    background: lightgray;
}
footer .footer-name h1{
    text-align: center;
    color: black;
    letter-spacing: 5px;
}
footer .footer-name .footer-name__littlename h3{
    text-align: center;
    color: black;
    letter-spacing: 5px;
}
footer .contact .col-sm h4{
    color: black;
    text-align: center;
}
footer .contact .col-sm a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}
footer .contact .col-sm i{
    margin-right: 10px;
    margin-top: 10px;
}
footer .contact .col-sm p{
    font-size: 35px;
    font-weight: bold;
    position: relative;
    left: 13%;
    bottom: 50px;
}
footer .contact .logo img{
    margin: 5px;
    margin-left: 30px;
}
/* Hover */
header a.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
}
header .list-group a:hover{
    color: blue;
    text-align: center;
    font-weight: bold;
}
header .icon i:hover{
    color: red;
    transition: all 0.5s;
    transform: rotate(360deg);
}
footer a.dropdown-item:hover{
    font-weight: bold;
    text-align: center;
}
footer .contact .col-sm a:hover{
    color: blue;
    font-weight: bold;
}