
section #card-head {
  border: none;
}
section .head {
  margin: 0px;
  padding: 10px 0px;
}
section .card-body button {
  background-color: white;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 20px;
  border: 1px solid blue;
}
section .head p {
  margin: 0px 20px;
}
section .card-body button:hover {
  transition: all 0.5s ease-out;
  border: 1px solid red;
  color: red;
}
section .center {
  padding: 0px;
  margin: 0px;
}
section .card {
  margin: 20px 0px;
}
section h1 {
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5,
    -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  color: ghostwhite;
  font-weight: bold;
  font-size: 2cm;
  margin-bottom: 50px;
}
section .search p {
  display: inline-block;
  margin: 0px 10px;
  font-size: 20px;
  color: gray;
}
section .col {
  margin: 0px 20px;
}
section .search input {
  padding: 10px 0px;
}
section .table td a{
  color: black;
}
section .table td a:hover{
  text-decoration: none;
  color: blue;
  transition: all 0.5s ;
}
