<section style="margin-top: 30px;">
    <h1 style="text-align: center;">DANH SÁCH CÁC MÔN HỌC</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search">
                    <input type="text" size="70" placeholder=" Tìm theo tên môn học"
                        [(ngModel)]="searchText" (input)="search()" style="padding: 10px;">
                        <p>(* Nhớ ghi dấu tên môn học *)</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let monhoc of employee |filter:searchText; let i = index">
                            <td>{{i}}</td>
                            <td><a [routerLink]="['/exam/',monhoc.Id]">{{monhoc.Id}}</a></td>
                            <td><a [routerLink]="['/exam/',monhoc.Id]">{{monhoc.Name}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
