header ul.menu a {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}
/* ////////////////// */
header .dropdown {
  display: inline-block;
  float: right;
}
header .dropdown button {
  border: none;
  background-color: ghostwhite;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 50px;
}
header .dropdown-menu {
  margin-top: 13px;
}
header .dropdown .dropdown-menu .dropdown-item {
  text-align: right;
  font-size: 16px;
  color: black;
}
header .dropdown button:hover {
  color: red;
}
.btn a{
  display: inline !important;
  margin-right: 10px;
}