
<section>
    <div class="container" style="margin-top: 30px;">
        <h1>ĐỔI MẬT KHẨU ONLINETRAINING NGAY</h1>
        <p>Để học tập và giao lưu với hàng triệu học viên trên mọi miền đất nước.</p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Tên tài khoản" aria-label="Search" [(ngModel)]="newStudent.username" name="newStudent.username">
        </form>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Email" aria-label="Search" [(ngModel)]="newStudent.email" name="newStudent.email">
        </form>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="password" size="70" placeholder="Mật khẩu cũ" aria-label="Search" [(ngModel)]="oldPass" name="oldPass">
        </form>
        <form class="form-inline">
            <div class="form-group">
                <input type="password" id="inputPassword6" class="form-control mx-sm-3" style="margin: 10px 8px 10px 0px !important;padding: 6px 12px !important;"
                    aria-describedby="passwordHelpInline" placeholder="Mật khẩu mới" size="30" [(ngModel)]="newPass" name="newPass">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group" style="margin-left: -230px;">
                <input type="password" id="inputPassword6" class="form-control mx-sm-3" style=""
                style="margin: 10px 8px 10px 0px !important;padding: 6px 12px !important;" aria-describedby="passwordHelpInline"
                    placeholder="Xác nhận mật khẩu" size="25" [(ngModel)]=" reNewPass" name="reNewPass">
            </div>
        </form>
        <button type="button" class="btn btn-primary" (click)="changePass()">ĐỔI MẬT KHẨU</button>
    </div>
</section>
