
section .container h1,
p {
  text-align: center;
  color: blue;
}
section .container p {
  color: black;
}
section .container .form-inline {
  margin-left: 25%;
}
section .container .form-inline input {
  border: 1px solid black;
  margin: 10px 0px;
}
section .container button {
  margin-top: 40px;
  border-radius: 10px;
  display: block;
  width: 49%;
  margin-left: 25%;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}
section .container .row {
  margin-top: 20px;
  margin-left: 27%;
}
section .row .col-sm-1 p {
  font-size: 20px;
}
section .container .logo img {
  margin: 5px;
}
section .container .logo {
  margin-left: 25%;
}
section .content textarea {
  position: relative;
  left: 25%;
  max-width: 540px;
  min-width: 540px;
  max-height: 300px;
  min-height: 300px;
}
