
<section>
    <div class="container" style="margin-top: 30px;">
        <h1>THÔNG TIN LIÊN HỆ</h1>
        <p>Để học tập và giao lưu với hàng triệu học viên trên mọi miền đất nước.</p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Họ tên" aria-label="Search">
        </form>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Email" aria-label="Search">
        </form>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Tiêu đề" aria-label="Search">
        </form>
        <form class="content">
            <textarea placeholder="Nội dung" cols="30" rows="10"></textarea>
        </form>
        <button type="button" class="btn btn-primary" routerLink='/dangnhap'>GỞI TIN NHẮN</button>
    </div>
</section>
