<section>
    <div class="container">
        <h1 style="text-align: center;">HỎI ĐÁP ONLINE TRAINING</h1>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Mới nhất</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bình chọn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chưa trả lời</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">+ Đặt câu hỏi</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Lượt trả lời:</b>
                            <p>Trả lời</p>
                        </div>
                        <div class="col-sm-2">
                            <b>Lượt xem:</b>
                            <p>Xem</p>
                        </div>
                        <div class="col-sm-8">
                            ............................
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Lượt trả lời:</b>
                            <p>Trả lời</p>
                        </div>
                        <div class="col-sm-2">
                            <b>Lượt xem:</b>
                            <p>Xem</p>
                        </div>
                        <div class="col-sm-8">
                            ............................
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Lượt trả lời:</b>
                            <p>Trả lời</p>
                        </div>
                        <div class="col-sm-2">
                            <b>Lượt xem:</b>
                            <p>Xem</p>
                        </div>
                        <div class="col-sm-8">
                            ............................
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Lượt trả lời:</b>
                            <p>Trả lời</p>
                        </div>
                        <div class="col-sm-2">
                            <b>Lượt xem:</b>
                            <p>Xem</p>
                        </div>
                        <div class="col-sm-8">
                            ............................
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Lượt trả lời:</b>
                            <p>Trả lời</p>
                        </div>
                        <div class="col-sm-2">
                            <b>Lượt xem:</b>
                            <p>Xem</p>
                        </div>
                        <div class="col-sm-8">
                            ............................
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        DANH SÁCH MÔN HỌC
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" id="card3">
                        <div class="card">
                            <div class="card-body">
                                1. Lập trình Android nâng cao
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                2. Lập trình Android cơ bản
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                3. Kiểm thử và triển khai ứng dụng Android
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                4. Thiết kế giao diện trên Android
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                5. Lập trình ASP.NET
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                6. Điện toán đám mây
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                7. SQL Server
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                8. Cơ sở dữ liệu
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>