

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header" style="background: ghostwhite">
                        <h5>Câu hỏi mới nhất</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Lượt trả lời:</b>
                                <p>Trả lời</p>
                            </div>
                            <div class="col-sm-2">
                                <b>Lượt xem:</b>
                                <p>Xem</p>
                            </div>
                            <div class="col-sm-8">
                                ............................
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-top: 22px;">
                <div class="search">
                    <input type="text" size="42" placeholder=" Tìm theo tên môn học"
                        [(ngModel)]="searchText" (input)="search()" style="padding: 10px;"> 
                </div>
                <table class="table table-bordered" style="margin-top: 22px;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>AName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let monhoc of employee |filter:searchText; let i = index">
                            <td>{{i}}</td>
                            <td><a [routerLink]="'/exam'">{{monhoc.name}}</a></td>
                            <td><a [routerLink]="'/exam'">{{monhoc.AName}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

