
section .container .row {
  margin-top: 10px;
  margin-left: 10px;
}
section .card {
  margin-top: 20px;
}
section .list-group a {
  text-decoration: none;
  color: #000;
}
section .card-body {
  padding: 0px !important;
  margin: 5px 5px;
}
section h5 {
  margin: 0px;
}
section .card-body .col-sm-2 {
  border-right: 1px solid black;
  padding: 0px 10px !important;
}
section .table td a{
  color: black;
}
section .table td a:hover{
  text-decoration: none;
  color: blue;
  transition: all 0.5s ;
}

