*{
  position: relative;
}
section .container {
  margin-top: 30px;
}
nav a.btn.btn-primary {
  width: 100%;
  font-size: 20px;
  color: black;
  background-color: ghostwhite;
  border: 5px solid lightgray;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 20px;
}
nav li {
  list-style: none;
}
nav a.btn.btn-primary:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px black;
}
nav .card-body {
  border: 2px solid black;
  border-radius: 5px;
}
section .card-body ul {
  list-style: none;
  border-bottom: 1px solid black;
}
nav .col-3 {
  position: relative;
  top: 30px;
  border: 5px solid lightgray;
  height: 80px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: ghostwhite;
}
nav .col-3 a:hover{
  color: blue;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ;
}
nav .col-3 h2{
  padding: 0;
  margin: 0px;
}
section .card-body a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  padding: 5px 10px;
  letter-spacing: 1px;
}
section .card-body a:hover {
  color: blue;
}
section .col-md-8 {
  float: left;
  width: 100% !important;
}
section .card-body.text-center {
  box-shadow: 0px 0px 15px black;
  border-radius: 10px;
}
section .card{
  margin: 10px 0px;
  border-radius: 10px;
}
section div#col6 {
  margin: 30px;
  box-shadow: 0px 10px 10px black;
  border-radius: 10px;
}
section .card-body ul {
  margin: 30px 35%;
  border: none;
}
section .card-body a {
  padding: 10px 15px;
}
nav .row li{
  text-align: center;
}
nav .row a{ 
  text-align: center;
  font-size: 20px !important;
}
section .pagination a{
  color: blue;
  border: 1px solid blue;
}
section .pagination a.left{
  border-radius: 15px 0px 0px 15px;
}
section .pagination a.right{
  border-radius: 0px 15px 15px 0px;
}
section .pagination li:hover {
  transition: all 0.2s ease-in;
}
section .pagination a:hover {
  transition: all 0.2s ease-in;
  background-color: green;
  color: white;
}
