section h1 {
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5,
    -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  color: lightgray;
  font-weight: bold;
  font-style: italic;
  font-size: 2cm;
  margin-bottom: 50px;
}
section .card-body ul {
  list-style: none;
  border-bottom: 1px solid black;
}
section .card-body ul {
  list-style: none;
  border-bottom: 1px solid black;
}
nav .col-3 {
  position: relative;
  top: 30px;
  border: 5px solid lightgray;
  height: 80px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: ghostwhite;
}
nav .col-3 a:hover{
  color: blue;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ;
}
nav .col-3 h2{
  padding: 0;
  margin: 0px;
}
section .card-body a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  padding: 5px 10px;
  letter-spacing: 1px;
}
section .card-body a:hover {
  color: blue;
}
section .card-header{
  padding:10px 5px;
}
section .col-md-8 {
  float: left;
  width: 100% !important;
}
section .card-body.text-center {
  box-shadow: 0px 0px 15px black;
  border-radius: 10px;
}
section .card{
  margin: 10px 0px;
  border-radius: 10px;
}
section div#col6 {
  margin: 30px;
  box-shadow: 0px 10px 10px black;
  border-radius: 10px;
}
section .card-body ul {
  margin: 30px 38%;
  border: none;
}
section .card-body a {
  font-size: 18px;
  display: inline;
}
section .pagination a{
  color: blue;
  border: 1px solid blue;
}
section .pagination a.left{
  border-radius: 15px 0px 0px 15px;
}
section .pagination a.right{
  border-radius: 0px 15px 15px 0px;
}
section .pagination li:hover {
  transition: all 0.2s ease-in;
}
section .pagination a:hover {
  transition: all 0.2s ease-in;
  background-color: green;
  color: white;
}
a{
  font-size: 16px !important;
}
.fa-hand-point-right{
  margin-right:5px;
  font-size: 24px;
  padding: 0px;
  
}
