<nav>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="user">
                    <h3 *ngIf="!showName" style="margin: 0px;">Your Account</h3>
                    <h3 *ngIf="showName" style="opacity: 0.5;">Tên đăng nhập</h3>
                    <a *ngIf="showName" (click)="updateInforStudent()" >{{nameStudent}}</a>
                </div>
            </div>
            <div class="col-9">
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-align-justify" style="margin-right: 10px;"></i> danh mục môn học
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">
                        <div class="row">
                            <ul *ngFor="let monhocs of listmonhoc">
                                <div class="col-2-md">
                                    <li><a href="">{{monhocs.study}}</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6"
                        *ngFor="let p of listsubject |paginate: { itemsPerPage: itemsperpage, currentPage: currentpage }">
                        <div class="card">
                            <div class="card-body" id="col6">
                                <img src="../../assets/logos/{{p.Logo}}">
                                <div class="card-header">
                                    <strong>
                                        <a routerLink="" (click)="doSubject(p.Id)">{{p.Name}}</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <ul class="pagination">
                        <li class="page-item "><a class="page-link left" (click)="previouspage()">&lt;&lt;</a></li>
                        <li class="page-item "><a class="page-link" (click)="pagenow(1)">1</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(2)">2</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(3)">3</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(4)">4</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(5)">5</a></li>
                        <li class="page-item"><a class="page-link right" (click)="nextpage()">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>