<section style="margin-top: 30px;">
    <h1 style="text-align: center;">DANH SÁCH CÁC MÔN HỌC</h1>
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6"
                        *ngFor="let p of listsubject |paginate: { itemsPerPage: itemsperpage, currentPage: currentpage }">
                        <div class="card">
                            <div class="card-body" id="col6">
                                <img src="../../../assets/logos/{{p.Logo}}">
                                <div class="card-header">
                                    <strong>
                                        <span><i class="far fa-hand-point-right"></i></span><a
                                            (click)="showSubject(p.Id)" style="text-align: right;">{{p.Name}}</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <ul class="pagination">
                        <li class="page-item "><a class="page-link left" (click)="previouspage()">&lt;&lt;</a></li>
                        <li class="page-item "><a class="page-link" (click)="pagenow(1)" id="btn">1</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(2)" id="btn">2</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(3)" id="btn">3</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(4)" id="btn">4</a></li>
                        <li class="page-item"><a class="page-link" (click)="pagenow(5)" id="btn">5</a></li>
                        <li class="page-item"><a class="page-link right" (click)="nextpage()">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>