<section>
    <div class="container" style="margin-top: 30px;">
        <h1>KHÔI PHỤC MẬT KHẨU</h1>
        <p>Để học tập và giao lưu với hàng triệu học viên trên mọi miền đất nước.</p>
        <button type="button" class="btn btn-primary">SMS</button>
        <button type="button" class="btn btn-primary">EMAIL</button>
        <button type="button" class="btn btn-primary">Hỗ trợ từ ONLINETRAINING</button>
        <hr color="blue">
        <div class="card">
            <div class="card-header" style="text-align: center;font-weight: bold;">
                KHÔI PHỤC MẬT KHẨU QUA SMS
            </div>
            <div class="card-body">
                <h5 class="card-title">Bạn vui lòng điền số điện thoại đã dùng để đăng ký tài khoản ONLINETRAINING</h5>
                <div class="row">
                    <div class="col-sm btn1">
                        <p style="color: black;">Tên tài khoản:</p>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" size="60" type="search" aria-label="Search" [(ngModel)]="listforget.username" name="listforget.username">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p style="color: black;">Email:</p>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" size="60" type="search" aria-label="Search" [(ngModel)]="listforget.email" name="listforget.email">
                        </form>
                    </div>
                </div>
                <div class="row" *ngIf="checkpass">
                    <div class="col-sm" >
                        <p style="color: black;">Password:</p>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" size="60" type="search" aria-label="Search" [(ngModel)]="listforget.password" name="listforget.password">
                        </form>
                    </div>
                </div>
                <div class="btn">
                    <a *ngIf="!checkpass" class="btn btn-primary" (click)="forgotstudent()">Lấy lại mật khẩu</a>
                    <a *ngIf="checkpass" class="btn btn-primary" routerLink='/dangnhap'>Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>