
section .container h1,
p {
  text-align: center;
  color: blue;
}
section .container p {
  color: black;
}
section .container button {
  background: white;
  color: black;
  margin: 0px 3px;
}
section .card .card-header {
  background: lightblue;
  color: black;
}
section .card .card-body h5 {
  text-align: center;
}
section .form-inline {
  display: inline;
}
section .fa-align-justify {
  color: white;
}
section input.form-control.mr-sm-2{
  margin: 0px !important;
}
section .card-body .row .col-sm p {
  margin-right: 50px;
}
section .row .btn1 input {
  margin-left: 18px;
}