

<section>
    <div class="container" style="margin-top: 30px;">
        <h1>Góp ý cho chúng tôi</h1>
        <div class="header">
            <br><br>
            <p>Chúng tôi đánh giá cao các bình luận và góp ý của bạn.</p>
            <p>Mọi ý kiến đóng góp, bình luận sẽ được kiểm duyệt bởi nhân viên trực tuyến.</p>
            <p>Nếu cung cấp địa chỉ email, bạn sẽ nhận được phản hồi nhanh chóng từ chúng tôi.</p>
        </div>
        <div class="content">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" size="70" placeholder="Tên" aria-label="Search">
            </form>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" size="70" placeholder="Email" aria-label="Search">
            </form>
            <div class="form-group" style="width: 48%">
                <label for="exampleFormControlSelect1">Địa điểm</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option><b>Việt Nam</b></option>
                    <option><b>EngList</b></option>
                    <option><b>China</b></option>
                    <option><b>Malaysia</b></option>
                    <option><b>Thai Land</b></option>
                    <option><b>America</b></option>
                </select>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" size="70" placeholder="Góp ý" aria-label="Search">
            </form>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Tôi đã đọc và hiểu <a href="">Chính sách quyền riêng tư</a>
                </label>
            </div>
            <button type="button" class="btn btn-primary" routerLink=''>NỘP</button>
        </div>
    </div>
</section>

