
section .container h1,
p {
  text-align: center;
  color: blue;
}
section .container p {
  color: black;
}
section .header p {
  margin: 0px;
}
section .content .form-control {
  border: 0px !important;
  border-bottom: 1px solid gray !important;
}
section .container .form-inline {
  margin-left: 25%;
}
section .container .form-inline input {
  border: 1px solid black;
  margin: 10px 0px;
}
section .content .form-group {
  margin-left: 25% !important;
}
section .content .form-check {
  margin-left: 25% !important;
}
section .container button {
  margin-top: 40px;
  border-radius: 10px;
  display: block;
  width: 49%;
  margin-left: 25%;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}
