
section .container h1,
p {
  text-align: center;
  color: blue;
}
section .container p {
  color: black;
}
section .container button {
  margin-top: 40px;
  border-radius: 10px;
  display: block;
  width: 49%;
  margin-left: 25%;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}
