
<section>
    <div class="container" style="margin-top: 30px;">
        <h1>ĐĂNG NHẬP TÀI KHOẢN ONLINETRAINING NGAY</h1>
        <p>Để học tập và giao lưu với hàng triệu học viên trên mọi miền đất nước.</p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" size="70" placeholder="Tên tài khoản" aria-label="Search" [(ngModel)]="students.username" name="students.username">
        </form>
        <form class="form-inline">
            <div class="form-group">
                <input type="password" id="inputPassword6" class="form-control mx-sm-3"
                    aria-describedby="passwordHelpInline" placeholder="Nhập mật khẩu" size="70" [(ngModel)]="students.password" name="students.password">
            </div>
        </form>
        <button type="button" class="btn btn-primary" (click)="getStudentFromInput()">ĐĂNG NHẬP</button>
        <div class="row">
            <div class="col-sm-3">
                <hr color="blue">
            </div>
            <div class="col-sm-1">
                <p>hoặc</p>
            </div>
            <div class="col-sm-3">
                <hr color="blue">
            </div>
        </div>
        <p>Đăng nhập nhanh bằng :</p>
        <div class="logo">
            <a href=""><img src="assets/fb.jpg" alt=""></a>
            <a href=""><img src="assets/google.jpg" alt=""></a>
            <a href=""><img src="assets/yahoo.jpg" alt=""></a>
        </div>
        <div class="footer">
            <a href="" routerLink='/dangky'>Đăng ký</a> hoặc <a href="" routerLink='/quenmatkhau'>Quên mật khẩu</a> <br>
            (*) Khi bấm vào đăng ký tài khoản, bạn chắc chắn đã đọc và đồng ý với <a href="">Chính sách bảo mật và Điều
                khoản dịch vụ của ONLINETRAINING</a>
        </div>
    </div>
</section>

